* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #0d182a;
  display: inline-block;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.container {
  background-color: #15273f;
  border-radius: 14px;
  display: inline-block;
  margin: 25px auto;
  padding-top: 25px;
  width: 325px;
  box-shadow: 0 0 1em #000;
}

img {
  width: 85%;
  border-radius: 8px;
  user-select: none;
}

.title {
  color: #fff;
  float: left;
  margin-top: 25px;
  margin-left: 35px;
}

.title:hover {
  color: #00fff8;
}

.description {
  color: #8bacda;
  float: left;
  margin-top: 15px;
  text-align: left;
  padding-left: 30px;
  line-height: 25px;
}

.token-img,
.time-img {
  width: 5%;
  margin-top: 20px;
  display: inline-block;
}
.token-img {
  float: left;
  margin-left: 30px;
}

.time-img {
  float: right;
  margin-right: 115px;
  width: 7%;
}

.token-price,
.time-left {
  display: inline-block;
}

.token-price {
  color: #00fff8;
  float: left;
  margin-left: 10px;
  margin-top: 25px;
  font-weight: bold;
}

.time-left {
  color: #8bacda;
  float: right;
  margin-right: 35px;
  margin-top: -20px;
}

.hr {
  border: 0;
  border-top: 1px solid #8bacda;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
}

.avatar {
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 15%;
}

.creator {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
  color: #8bacda;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #00fff8;
}
